# Movie Recommendation For Microsoft's New Studio

This project explores movie data to identify trends in box office performance and provide actionable recommendations for Microsoft's new movie studio.

### Overview

Microsoft is venturing into movie production and seeks insights into successful film types. This analysis utilizes exploratory data analysis techniques to uncover patterns that can inform their content creation strategy.

### Business Problem

Microsoft has decided to venture into the film industry by creating a new movie studio.  However, they lack prior experience in movie production. This project aims to leverage data analysis to provide valuable insights that can inform their content creation strategy.

### Data Understanding

Here we will:
>> * import the necessary libraries
>> * Read the data files using pandas into a dataframe
>> * Check what the datasets are made of, and check on various information which is going to answer the Five key Questions

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
bom= pd.read_csv('./data/bom.movie_gross.csv')
tmdb=  pd.read_csv('./data/tmdb.movies.csv', index_col=0)
tn= pd.read_csv('./data/tn.movie_budgets.csv')

In [7]:
bom.head(5)

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

we have information about domestic and foreign gross telling us about the sell of the different movies here we can check the most sold movies with relation with year

In [8]:
tmdb.head(5)

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,11/19/2010,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,3/26/2010,How to Train Your Dragon,7.7,7610
2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,5/7/2010,Iron Man 2,6.8,12368
3,"[16, 35, 10751]",862,en,Toy Story,28.005,11/22/1995,Toy Story,7.9,10174
4,"[28, 878, 12]",27205,en,Inception,27.920,7/16/2010,Inception,8.3,22186

we